<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.80.0">
    <title>IT Entreprise</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
    <link href="assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/dist/css/signin.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/dist/css/style.css">
    <script src="./assets/dist/js/presupuesto.js"></script>
    <script src="./assets/dist/js/usuario.js"></script>
    <script src="./assets/dist/js/Ingresos.js"></script>


</head>